manifest {
  name = '@nf-bwa-test@'
  description = '@nf-bwa-test@'
  homePage = '@https://github.com/nriddiford/nf-bwa-test@'
  author = 'Nick Riddiford'
  version = '@git_commit@'
  mainScript = 'bwa-align.nf'
  nextflowVersion = '>=19.10.0'
}

includeConfig 'conf/base.config'


/// docker.enabled = true
process.container = 'nriviera/bwa-nf-test'
docker.runOptions='-u $(id -u):$(id -g)'


// Profiles
profiles {
  submit {
    includeConfig 'conf/submit.config'
  }
  test{
    includeConfig 'conf/test.config'
  }
  local{
    includeConfig 'conf/local.config'
  }
}
