/*
 * Default for environment options
 */

params {

  // notifications
  email = false

  samplePlan = 'sample_plan.csv'

  // cluster
  queue = null

  // Limit max resources
  maxCpus = 2
  maxMemory = 16.GB
  maxTime = 48.h

  condaCacheDir = "$HOME/conda-cache-nextflow"

  // General
  adapters = "$baseDir/data/adapters.fa"
  unmappable_genome = "$baseDir/data/dmel6_unmappable_100.bed"

  // Varscan
  varscan_normal_coverage = 20
  varscan_tumour_coverage = 20
  varscan_tumour_purity = 1

  // lohcator
  sample_ids = "$baseDir/data/samples.tsv"
  lohcator_chromosome = "X"

}
