/*
 * Default for environment options
 */

//trace {
    //enabled = true
    //file = 'pipeline_trace.txt'
    //fields = 'task_id,name,status,exit,realtime,%cpu,rss'
//}

params {

 // notifications
 email = false

  // cluster
  queue = null

  // Limit max resources
  maxCpus = 2
  maxMemory = 16.GB
  maxTime = 48.h

  //condaCacheDir = "/bioinfo/guests/nriddifo/miniconda2/bin"

}
