/*
 * -------------------------------------------------
 *  Config the cluster profile and your scheduler
 * -------------------------------------------------
 */

process {
    executor = 'pbs'
    queue = params.queue ?: null

    cpus = 4
    memory = '20 GB'
    queue = 'short'

    condaCacheDir = "/data/users/nriddifo/miniconda2/envs/nf-align/"
}
