/*
 * -------------------------------------------------
 *  Nextflow config file for running local tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile local
 */

params {

  config_profile_name = 'Local test data'
  config_profile_description = 'Minimal test dataset to check pipeline functions locally'

  // Limit resources so that this can run on Travis
  max_cpus = 1
  max_memory = 1.GB
  max_time = 10.m

  reads = "$baseDir/data/*{forward,reverse}.fq.gz"
  genome = "$baseDir/data/X.fasta"

}
