docker.enabled = false
singularity.enabled = false


conda {
  cacheDir = "${params.condaCacheDir}"
}

process {
    withLabel:trimmomatic { conda = "${baseDir}/recipes/conda/trimmomatic.yml" }
    withLabel:fastqc { conda = "${baseDir}/recipes/conda/fastqc.yml" }
    withLabel:bamtools { conda = "${baseDir}/recipes/conda/bamtools.yml" }
    withLabel:bwa { conda = "${baseDir}/recipes/conda/bwa.yml" }
    withLabel:varscan { conda = "${baseDir}/recipes/conda/varscan.yml" }
    withLabel:freebayes { conda = "${baseDir}/recipes/conda/freebayes.yml" }
}
