/*
 * -------------------------------------------------
 *  Config the cluster profile and your scheduler
 * -------------------------------------------------
 */


process {
    executor = 'pbs'
    beforeScript = """
    export PATH="/bioinfo/guests/nriddifo/miniconda2/bin:\${PATH}"
    source activate nextflow
    """

    errorStrategy = 'retry'
    maxRetries = 1
    maxErrors = '-1'

    withLabel: smallCpu { cpus = 1 }
    withLabel: medCpu { cpus = 4 }
    withLabel: bigCpu { cpus = 8 }
    withLabel: smallMem { memory = '2 GB' }
    withLabel: medMem { memory = '15 GB' }
    withLabel: bigMem { memory = '40 GB' }
}




params {

  config_profile_name = 'Test data for PBS submission'
  config_profile_description = 'Minimal test dataset to check pipeline functions as PBS batch job'

}
