/*
 * -------------------------------------------------
 *  Config the cluster profile and your scheduler
 * -------------------------------------------------
 */


process {
    executor = 'pbs'
    beforeScript = """
    export PATH="/bioinfo/guests/nriddifo/miniconda2/bin:\${PATH}"
    source activate nextflow
    """
}

params {

  config_profile_name = 'Test data for PBS submission'
  config_profile_description = 'Minimal test dataset to check pipeline functions as PBS batch job'

}
