/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */


params {
    config_profile_name = 'Test data'
    config_profile_description = 'Minimal test dataset to check pipeline functions'

    // Limit resources so that this can run on Travis
    max_cpus = 1
    max_memory = 1.GB
    max_time = 10.m

    samplePlan = 'sample_plan_test.csv'

    adapters = "/data/users/nriddifo/Modules/Trimmomatic-0.36/adapters/adapters.fa"
    reads = "/data/kdi_prod/project_result/948/01.00/Analysis/Trimmo_out/HUM/dwnsamp/*{forward,reverse}.fq.gz"
    genome = "/data/kdi_prod/project_result/948/01.00/Analysis/Genomes/Dmel_6/fasta_for_CF/chromosomes/X.fa"
}
